<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
<!--      {% if site.github.is_project_page %}-->
<!--        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>-->
<!--      {% endif %}-->
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}

      <a href="#news" class="btn" target="_self">News</a>
      <a href="#dates" class="btn" target="_self">Dates</a>
      <a href="#overview" class="btn" target="_self">Overview</a>
      <a href="#task" class="btn" target="_self">Task</a>
      <a href="#dataset" class="btn" target="_self">Dataset</a>
      <a href="#awards" class="btn" target="_self">Awards</a>
      <a href="#citations" class="btn" target="_self">Citations</a>
      <a href="#organizers" class="btn" target="_self">Organizers</a>
      <br>
      <!--
      <a href="{{ site.baseurl }}" class="btn" target="_self" style="width:150px">Latest</a>
      <a href="{{ site.baseurl }}/wacv2023" class="btn" target="_self" style="width:150px">1. WACV 2023</a>
      <a href="{{ site.baseurl }}/cvpr2023" class="btn" target="_self" style="width:150px">2. CVPR 2023</a>
      <a href="{{ site.baseurl }}/cvpr2024" class="btn" target="_self" style="width:150px">3. CVPR 2024</a>
      <a href="{{ site.baseurl }}" class="btn" target="_self" style="width:150px">4. CVPR 2025</a>

      <br> <p style="margin-bottom:0.5cm;"></p>
      <a href="https://twitter.com/DepthChallenge">
      <img class="rounded-rect" src="assets/imgs/logos/twitter.png" width="50px" height="50px" alt="twitter"/></a>

      <a href="https://github.com/toshas/mdec_benchmark">
      <img class="rounded-rect" src="assets/imgs/logos/github.png" width="50px" height="50px" alt="github"/></a>

      <a href="https://codalab.lisn.upsaclay.fr/competitions/21305">
      <img class="rounded-rect" src="assets/imgs/logos/codalab.png" width="50px" height="50px" alt="codalab"/></a>
    </header>
      -->
    <script src="assets/js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
      diameter: 56,
      backgroundColor: '#4196ff',
      textColor: '#fff',
    })</script>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>, <a href="https://www.obukhov.ai/">toshas</a> and <a href="https://mattpoggi.github.io/">mattpoggi</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
